@triplydb:registry=https://git.triply.cc/api/v4/packages/npm/
@triplyetl:registry=https://git.triply.cc/api/v4/packages/npm/
//git.triply.cc/api/v4/packages/npm/:_authToken=${TOKEN}
//git.triply.cc/api/v4/projects/:_authToken=${TOKEN}